*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over{
    background-color: red;
    position: absolute;
    height: 600px;
    width: 800px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-over h1, .game-over h2 {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

.game-over h1 {
    margin-bottom: 5px;
}

.playground{
    background-color: lightslategray;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    border: solid .25rem white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.espaco-jogador{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.entidades{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.player {
    height: 50px;
    width: 50px;
    background-color: yellow;
    position: relative;
    left: 375px;
}

.display{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    margin-block: 0.25rem;
}

.metricas{
    display: flex;
    justify-content: center;
    background-color: darkred;
}

.borda-da-pista{
    position: absolute;
    width: 5px;
}

.pista{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100px;
}

.obstaculo, .ponto, .gasolina{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
}

.ponto {
    background-color: blue;
}

.gasolina{
    background-color: orangered;
}

.obstaculo{
    background-color: green;
}
